.friendlist table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-radius: 10px;
}

.friendlist th, .friendlist td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

.friendlist th {
    background-color: #333;
    color: white;
    font-weight: bold;
}

.friendlist tr:nth-child(even) {
    background-color: #444;
    color: white;
}

.friendlist button {
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    margin: 5px;
}

.friendlist button:hover {
    background-color: #555;
}

.friendlist ul {
    list-style-type: none;
    padding: 0;
}

.friendlist li {
    margin-bottom: 10px;
}

.friendlist li button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-align: left;
    border-radius: 4px;
}

.friendlist li button:hover {
    background-color: #555;
}
