@keyframes glowing {
    0% { box-shadow: 0 0 10px rgb(0, 255, 64); }
    50% { box-shadow: 0 0 30px rgb(0, 255, 64); }
    100% { box-shadow: 0 0 10px rgb(0, 255, 64); }
}


.logo{
	margin-top:0.8cm;
	width: 5cm;
	height: 5cm;
}
	
.login{
	margin-top:2cm;
}
.loginButton{
	
	font-size: 38px;
	border:none;
	display: flex;
    align-items: center;
    cursor: pointer;
    background: none;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 10px #1DB954;
    transition: transform 0.2s ease;
    border-bottom: 3px solid transparent;
    
}

.loginButton:hover{
	transform: scale(1.1);
	color: #1DB954;
	border-bottom: 3px solid #1DB954;
	
    
}
.loginButton i{
	font-size: 50px;
}
.signup{
	display: flex;
    justify-content: center;
    margin-top:25px;
}
.signup p{
	font-size: 27px;
	font-weight: bold;
	color: white;
	margin-left:1cm;
	display: inline-block;
    border-bottom: 2px solid white ;
    padding-bottom: 0.5px;
    
}

.signup button{
	margin-left:20px;
	font-size: 25px;
	border:none;
	background: none;
	color:#1DB954;
	font-weight: bold;
	transition: transform 0.2s ease;
	
	
}
.signup button:hover{
	transform: scale(1.1);
	color: white;
}



.line{
	width: 80%;
	background-color:rgba(255,255,255,0.2);
	height: 2px;
	margin: 30px;
	box-shadow: 0 0 10px rgba(255,255,255,0.4);
	
}

.formLogin{
	background-color: rgba(0,0,0,0.5);
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 2%;
	width: 18cm;
	height: 22cm;
	margin-top: 1cm;
	animation:glowing 1.5s infinite alternate;
	
}
 #progressContainer {
    width: 500px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    margin: 20px auto;
    margin-top:70px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    position: relative;
}

#progressBar {
    width: 0%;
    height: 100%;
    background: linear-gradient(90deg, #1DB954, #1ED760);
    border-radius: 25px;
    transition: width 0.1s ease-in-out;
}

#progressText {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0;
    left: 0;
    line-height: 50px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
