.artist-container {
    display: flex;
    align-items: center;
    gap: 20px; 
}

.artist-image img {
    width: 200px;
    height: auto;
    border-radius:20px ;
}

.artist-info h2 {
    margin: 0;
    font-size: 24px;
}

.artist-info p {
    margin: 5px 0;
    font-size: 18px;
}

#followForm {
    margin-top: 10px;
}

#followButton {
    background-color: rgb(222,222,222);
    color: rgb(34,34,34);
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#followButton:hover {
    background-color:white;
}

.track-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
    padding: 10px;
    list-style: none;
    justify-content:flex-start; 
}

.track-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    min-width: 120px; 
    text-align: center;
    background-color: rgba(34,34,34,0.3);
    flex: 1 1 calc(15% - 10px); 
    max-width: 150px; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.track-box img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.track-box p {
    font-size: 12px;
    margin: 5px 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}


.track-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
}

.track-add-button, .track-play-button {
    font-size: 12px;
    padding: 5px;
    border-radius: 3px;
    width: 100%;
}

.track-add-button {
    background-color: rgba(222,222,222);
    color: rgb(34,34,34);
    border: none;
    cursor: pointer;
}

.track-play-button {
    background-color: rgb(222,222,222);
    color: rgb(34,34,34);
    border: none;
    cursor: pointer;
}

.track-add-button:hover {
    background-color: rgb(222,222,222);
}

.track-play-button:hover {
    background-color: rgb(222,222,222);
}
.a li a{
	text-decoration: none;
	color: rgb(222,222,222);
	overflow-wrap: break-word;
	padding:10px;
	
}


.a{
	list-style-type: none;
	
}

