<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">

<welcome-file-list>
<welcome-file>/WEB-INF/jsp/login.jsp</welcome-file>
</welcome-file-list>

    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>FrontServlet</servlet-name>
        <servlet-class>servlet.FrontServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FrontServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    
        <!-- 静的リソースへのアクセスをFrontServletから外す -->
    <servlet-mapping>
        <servlet-name>FrontServlet</servlet-name>
        <url-pattern>/front/*</url-pattern> <!-- FrontServletを使うパス -->
    </servlet-mapping>

    <!-- 静的リソースのマッピング -->
    <servlet>
        <servlet-name>default</servlet-name>
        <servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/img/*</url-pattern> <!-- 画像などの静的リソース -->
    </servlet-mapping>
</web-app>